.carousel :global .alice-carousel {
  max-width: 90%;
}

@media screen and (min-width: 1024px) {
  .carousel :global .alice-carousel {
    max-width: 85%;
  }
}

@media screen and (min-width: 1280px) {
  .carousel :global .alice-carousel {
    max-width: 70%;
  }
}