/* Top Banner Section */

.banner_container {
  padding: 60px 20px 0;
}

.female_student {
  z-index: 1;
  min-width: 93% !important;
  max-width: 93% !important;
}

/* Students Section */

.students_section, .partners_section, .get_help_section, .blog_section, .faqs_section {
  padding: 60px 20px;
}

/* Blog Section */

.blog_section {
  background-image: url('../public/scholarly_logo_bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

/* Business Section */

.business_section {
  composes: blog_section;
  position: relative;
  z-index: 1;
  padding: 0 0 60px;
}

@media screen and (min-width: 600px) {
  /* Top Banner Section */
  .banner_container {
    padding: 60px 80px 0;
  }

  .students_section, .partners_section, .get_help_section, .blog_section, .faqs_section {
    padding: 60px 60px;
  }
}

@media screen and (min-width: 768px) {
  /* Top Banner Section */
  .banner_container {
    padding: 60px 100px 0;
  }

  .female_student {
    margin: 0 !important;
  }

  /* Business Section */
  .business_section {
    padding: 60px 55px;
  }
}

@media screen and (min-width: 992px) {
  /* Top Banner Section */
  .banner_container {
    padding: 45px 60px 0;
  }

  /* Students Section */
  .students_section {
    padding: 95px 90px 95px 120px;
  }

  /* Business Section */
  .business_section {
    padding: 110px 90px 110px 120px;
  }
  
  /* Blog Section */
  .blog_section, .faqs_section {
    padding: 50px 110px 85px;
  }

  /* Get Help form section */ 
  .get_help_section {
    padding: 85px 120px;
  }
}

@media screen and (min-width: 1150px) {
  /* Top Banner Section */
  .banner_container {
    padding: 45px 90px 0 120px;
  }

  /* Partners Section */
  .partners_section {
    padding: 55px 120px;
  }
}