/* Slider section */

.slider_container {
  padding: 60px 20px;
}

.active {
  background-color: #F8FFFA;
  border-radius: 4px;
  padding: 10.5px 16px;
}

@media screen and (min-width: 480px) {
  .slider_container {
    padding: 75px 35px;
  }
}

@media screen and (min-width: 768px) {
  .slider_container {
    padding: 75px 70px;
  }
}

@media screen and (min-width: 992px) {
  .slider_container {
    padding: 75px 120px;
  }
}