/* Slider section */

.slider_container {
  padding: 60px 20px;
}

.active {
  background-color: white;
  border: 1px solid #209B47;
  border-radius: 4px;
  padding: 10.5px 16px;
}

@media screen and (min-width: 480px) {
  .slider_container {
    padding: 75px 60px;
  }
}

@media screen and (min-width: 768px) {
  .slider_container {
    padding-inline: 70px;
  }
}

@media screen and (min-width: 992px) {
  .slider_container {
    padding-inline: 120px;
  }
}